=form_for Profile.new do |f|
  = text_field_tag :post_id, 526085694165129, placeholder: 'id Поста'
  = text_field_tag :limit, 20
  = f.submit
%hr
= link_to 'Удалить все непроверенные', destoy_unmarked_profiles_path
%hr
%table
  - @profiles.each do |profile|
    %tr
      %td.profile_name      
        =link_to profile.name, profile.link
      = render partial:'form', locals:{profile:profile}

