.post
  .destroy.inline_button
    = button_to 'Удалить', post_path(post), method: :delete , confirmation: 'Точно удалиить?', remote: true
  |
  = link_to 'Лайкующие', likers_post_path(post) 
  |
  = link_to 'Оригинал', post.link if post.link 
  |  
  = post.rate  
  .manual_type.inline_button
    - if post.manual_check.nil?
      = button_to 'Не верно', manual_type_post_path( post, type: !post.promo? ), remote: true
    - else
      = button_to 'Ой, верните', manual_type_post_path( post, type: nil ), remote: true
  .original
    = post.text
  %hr